/*================================*/
/*Author: Kyle Cameron*/
/*Created On: 01-22-2019*/
/*Project: Tech Degree Project Two*/
/*================================*/


/*================================*/
/*Global Styles*/
/*================================*/

* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	margin:0;
	padding:0;
	line-height: 1.5;
}

.clearfix::after {
	content:"";
	display:table;
	clear: both;
}


body {
	background-color: #457db2;
}

header, main, footer {
	text-align: center;
}

img {
	max-width: 100%;
}

.main-nav a:hover,
.footer-nav a:hover,
.contact-nav a:hover {
	color: rgba(245, 245, 254, .4);
}

/*================================*/
/*Header Styles*/
/*================================*/

header {
	padding: 1rem 0 2.75rem 0;
}

.header-wrapper,
.main-wrapper,
.footer-wrapper { /*Also styles main and footer element*/
	padding: 0 1.25rem;
}

h1 {
	padding-bottom: 1rem;
}

h1,
header p,
footer h2,
footer p,
footer li,
.contact-nav a,
.footer-nav a{
	color: whitesmoke;
}

.main-nav li {
	display: block;
	padding: .75rem 0 .75rem;
	margin: .3125rem 0;
	background-color: #fff;
}

.main-nav a {
	color: #000;
}

.main-nav li,
footer li,
.skills li{ /*Also styles footer element*/
	list-style-type: none;
}

.main-nav a {
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
}

header img {
	width: 75%;
	padding: 2.5rem 0 1.75rem 0;
}

/*================================*/
/*Main Styles*/
/*================================*/

.main-wrapper {
	background-color: #fff;
	width: 100%;
	padding-bottom: 1.5rem;
}

main h2,
footer h2 { /*Also styles footer element*/
	font-size: 1.25rem;
}

main h3 {
	font-size: 1.5rem;
	padding: 1.5rem 0 1rem 0;
	font-family: 'Aleo', serif;
	letter-spacing: 2px;
}

main h2,
footer h2{ /*Also styles footer element*/
	text-transform: uppercase;
	padding: 3rem 0;
}

main p {
	padding: 0 1rem 1.75rem 1rem;
}

/*================================*/
/*Footer Styles*/
/*================================*/

footer li {
	font-weight: bold;
}

footer p {
	padding-bottom: 1.75rem;
}

.contact-nav {
	padding: 0 0 3rem 0;
}

.contact-nav li {
	padding: .3125rem 0;
}

.contact-nav a {
	text-decoration: none;
}

.contact-nav span {
	padding-right: .625rem;
	font-weight: normal;
}

.footer-nav {
	padding: 2rem 0;
	border-top: 1px solid #e7e7e7;
}

.mobile-nav {
	display: inline-block;
}

.desktop-nav {
	display: none;
}

.footer-nav ul:first-of-type {
	float: left;
	text-align: left;
	width: 50%;
}

.footer-nav ul:last-of-type {
	float: right;
	text-align: right;
	width: 50%;
}

.footer-nav li a{
	text-transform: uppercase;
	text-decoration: none;
}

.skills h2 {
	padding-top: 1.25rem;
}


/*================================*/
/*Media Queries*/
/*================================*/

@media (min-width: 768px) {

	.main-wrapper {
		padding-left: .625rem;
		padding-right: .625rem;
		padding-bottom: 2.75rem;
	}

	h1 {
		padding-bottom: 0;
	}

	.main-nav {
		padding-bottom: 2rem;
	}

	.main-nav li {
		display: inline-block;
		padding: .625rem 1rem;
		background-color: transparent;
	}

	.main-nav a {
		color: whitesmoke;
	}

	header {
		padding: 2rem 0 3.25rem 0;
	}

	header img {
		float: right;
		max-width: 40%;
		padding: 0 0 0 .625rem;
	}

	header p {
		float: right;
		max-width: 60%;
		text-align: start;
	}

	.col {
		float: left;
		max-width: calc(100%/2);
	}

	.col img {
		padding: 0 .625rem;
	}

	.col p {
		min-height: 6.25rem;
	}

	.mobile-nav {
		display: none;
	}

	.desktop-nav {
		display: inline-block;
		padding: 0 .25rem;
	}

	footer p {
		width: 60%;
		margin: 0 auto;
	}

	.footer-nav .desktop-nav:last-of-type {
		padding-right: 0;
	}

}


@media (min-width: 1024px) {

	main {
		margin: 0 1.625rem;
	}

	.header-wrapper,
	.main-wrapper,
	.footer-wrapper {
		max-width: 1024px;
		width: 100%;
		margin: 0 auto;
	}

	.main-wrapper {
		padding: 0 1rem 2.75rem;
	}

	header {
		padding: 3rem 2rem;
	}

	header h1 {
		width: 50%;
		float: left;
		text-align: left;
	}

	header ul {
		width: 50%;
		float: left;
		text-align: right;
	}

	.main-nav li:last-of-type {
		padding-right: 0;
	}

	header p {
		padding-right: 1.5rem;
	}

	.col {
		max-width: calc(100%/3);
	}

	footer {
		padding: 0 2rem 0 2rem;
	}
}