/*================================*/
/*Author: Kyle Cameron*/
/*Created On: 01-22-2019*/
/*Project: Tech Degree Project Two*/
/*================================*/


/*================================*/
/*Global Styles*/
/*================================*/

* {
	box-sizing: border-box;
	margin:0;
	padding:0;
}